.listItem {
  list-style: none;
  overflow: hidden;
  border-radius: 8px;
  position: relative;
  width: 100%;
  padding-top: 75%;
}

.listItem img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
